.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: space-around; */
    
}

.flex > div {
  width: 20vw;
  height: 20vh;
  text-align: center;
  background-color: aqua;
  margin: 30px;
  line-height: 20vh;
}

.flex > .item3 {
  width: 20vw;
  height: 20vh;
  text-align: center;
  background-color: lightsteelblue;
  /* position: relative; */
  /* position: absolute; */
  /* position: fixed; */
  /* ต้องเลื่องลงไปถึง แล้วเลยก่อน ถึงจะวิ่งตามเมาส์ */
  position: sticky;
  top: 0px;
  /* top: 100px; */
  /* bottom: 0px; */
  /* right: 100px; */
  /* left: 100px; */
  z-index: 2;
}

.container {
  display: flex;
  flex: row;
  width: 100vh;
  height: 300vh;
  align-items: flex-start;
}

.container > div {
  width: 400px;
  margin: 50px;
  /* position: sticky; */
  /* bottom: 0; */
}

.container > .item1 {
  height: 490vh;
  background-color: cadetblue;
  /* sticky ไม่ได้ผลเพราะความสูงเกินไปเยอะ */
  /* position: sticky;
  top: 0; */
}
.container > .item2 {
  height: 230vh;
  background-color: chocolate;
  position: sticky;
  top: 0;
}

.container > .item3 {
  height: 150vh;
  background-color: darkgoldenrod;
  position: sticky;
  top: 0;
}

img {
  display: block;
  margin: auto;
  z-index: 1;
  /* position: relative; */
  top: 200px;
  left: 700px;
  position: fixed;
}
